<!DOCTYPE html>
<html lang="en">
  {% seo "" %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ './favicon.ico' | url }}"
    />
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
    <title>Pablo Leon-Villagrá</title>
    <link rel="stylesheet" href="{{ '/site.css' | url }}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-VRBK2BQWQF"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-VRBK2BQWQF");
    </script>
  </head>
  <body
    class="font-sans leading-normal tracking-normal text-gray-900 bg-gray-50"
  >
    {{ content | safe }}
  </body>
</html>
